body {
  background: #E8E8E8;
}

.box{
  padding: 20px;
  background: white;
  margin-top:20px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:10px;
  align-content: center;
}

/* Navbar*/
.navbar {
  margin-right: 0px;
  margin-left: 0px;

/* Toggle*/
  }
.dropdown-toggle:hover, .dropdown-toggle.focus, .dropdown-toggle:focus {
  border-color: #000000;
  background-color: #000000;
  color: #000000;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

p{
    font-size: 20px;
}

.c-d{color:white;
  font-size: 25px;
}

.latitude {
  color: white;
  font-family: verdana;
  font-size: 35px;
  padding: 15px;
}
/* Setting the media queries  kicks in at 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
  .box {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
